<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Db</servlet-name>
        <servlet-class>pack.Db</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>pack.upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleFTPClient</servlet-name>
        <servlet-class>pack.SimpleFTPClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>pack.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrippleDes</servlet-name>
        <servlet-class>pack.TrippleDes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>pack.NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>pack.Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Db</servlet-name>
        <url-pattern>/Db</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleFTPClient</servlet-name>
        <url-pattern>/SimpleFTPClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrippleDes</servlet-name>
        <url-pattern>/TrippleDes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
